body{

    background-image: url("/img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#333;

    .section.results{
        display: none;

        .row{
            padding-bottom:10px;
        }
    }

    .section{
        padding:30px 0;

        h1{
            margin: auto;
            font-size: 100px;
            padding-bottom:10px;
        }

        .btn{
            border: white solid 2px;   
            border-radius: 10px;   
            padding: 5px 20px;  
            margin: 20px;
            color: white;
        }

        .btn:hover{
            color: #333;
            background-color: white;
            transition: 0.4s ease-in-out; 
        }

        #search{
            background:white;
            border: none;
            border-radius: 25px;
            width: 60%;
            padding: 5px 20px;
        }

        #search:focus-visible{
            outline:none
        }

        .text-muted{
            margin: auto;
        }

        #temp-low{
            text-align: right;
        }

        #temp-high{
            text-align: left;
        }

        #temp-low, #temp-high{
            font-size:50px;
        }
    }
}
body::before{
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgba(166, 255, 243, 0.521);
}
@media only screen and (max-width: 800px) {
    body *{
        text-align:center !important;
    }
}
